FastAPI
uvicorn[standard]
jinja2
python-multipart
itsdangerous
starlette
opencv-python-headless
numpy
pandas
SQLAlchemy
psycopg2-binary
python-dotenv
openai
pytz
mediapipe==0.10.9
Pillow
upstash-redis
pydantic-settings
