FastAPI
uvicorn[standard]
jinja2
python-multipart
itsdangerous
starlette
numpy
pandas
SQLAlchemy
psycopg2-binary
python-dotenv
openai
pytz
mediapipe==0.10.9
requests
opencv-contrib-python-headless
Pillow
upstash-redis
pydantic-settings
pywebview
waitress
